@media screen and (max-width: 1000px) {
    a.nav-link {
        font-size: 2.75rem;
    }
    a.brand-icon {
        font-size: 3rem;
    }
    p.tile-text {
        font-size: 2rem;
    }
    h2 {
        margin-top: 5%;
    }
    img.treeline-image {
        height: 30%;
        width: 100%;
}

/**********   TAG STYLES  ********************/
a {
    color: #FED2AA;
    text-decoration: none;
    font-weight: bold;
}
a:visited {
    color: none;
}
a:hover {
    color: #eea764;
    text-decoration: none;
}
body {
    background-color: black;
    color: #8FE3CF;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 8rem;
    font-weight: 400;
}
h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    font-weight: 200; 
    margin: 3% auto;
    /* margin: 2% 1% 5%; */
    width: 90%;
}
h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 3.5rem;
    font-weight: 900;
}
h4 {
    font-size: 1.5rem;
    line-height: 1.5;
}

hr {
    width: 90%;
    border-width: 3px;
    margin: 0 auto;
}

/**********   CLASS STYLES  *****************/


.section {
    padding: 1% 0 10%;
}

/* Background tree-line */
.treeline-background {
    background-color: #2B4865;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    display: flex;
    align-items: flex-end;
}
.treeline-image {
    width: 100%;
}

/* navbar */

.brand-icon {
    font-size: 2rem;
}
.logo {
    height: 50px;
    margin-left: 15px;
}
.navbar {
    font-size: 1.5rem;
}

/* title section */

#title-section {
    text-align: center;
    padding: 35vh 0 0 0;
    height: 100vh;
}

/* About section */

#about-section {
    background-color: #256D85;
}
.about-row {
    width: 90%;
    display: inline-block;
    margin: 50px auto;
    text-justify: inter-word;
}
.about-icon {
    width: 30%;
    float: left;
    margin: 0 50px 10px 0;
}

#about-box {
    width: 90%; 
    height: 100%;
    padding: 5% 15%;
    text-align: justify;
    text-justify: inter-word; 
    font-size: 2rem;
    line-height: 2;
}
#bonfire {
    float: left;
}
#camp-icon {
    float: right;
    margin: 0 0 10px 50px;
}
 
/* Glamping Tiles */
.tile {
    height: 250px;
    margin: 5% auto;
    text-align: center;
    width: 325px;
}
.tile-box {
    border: 0px solid;
    width: 70%;
    margin: 5% auto;
    text-align: justify;
    text-justify: inter-word;
    padding: 0 5% 5%;
    box-shadow: 0px 0px 0px #8FE3CF;
}
.tile-box:hover {
    color: #FED2AA;
    box-shadow: 0px 0px 15px #FED2AA;
}
.tile-title {
    padding: 0 auto;
    text-align: center;
    font-size: 3rem;
} 
.tile-image {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    box-shadow: 3px 2px 6px #8FE3CF;
}
.tile-text {
    font-size: 1.5rem;
}
.tile-image:hover {
    box-shadow: 6px 4px 10px #FED2AA;
}

/* Outdoor activities and Events */

#activities-section {
    background-color: #256D85;
    padding: 20% auto;
}

.activity-slide {
    height: 500px;
    padding: 0 5%;
}

.events {
    margin-top: 5%;
    padding-top: 1%;
}

.activities-image {
    height: 100%;
}

/* contact section */

#contact-section {
    text-align: center;
} 

.text-box {
    background-color: #4f8a9e; 
    margin: 0  auto; 
    border-radius: 20%;
    box-shadow: 2px 2px 3px;
    padding: 5%;
}

#contact-box {
    background-color: #408faa;
    padding: 4%;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.social-link {
    color: #0c3769;
    padding: 10%;
    font-size: 1.5em;
}

/* footer */
.footer {
    background-color: #012146;
    height: 10vh;
    margin: 0 auto;
    text-align: center;
    padding-top: 3%;
}
