@media screen and (max-width: 480px) {
    nav.navbar {
        font-size: 5rem;
    }
    h4 {
        font-size: 5rem;
        line-height: 2;
    }
}

/**********   TAG STYLES  ********************/
a {
    color: #FED2AA;
    text-decoration: none;
    font-weight: bold;
}
a:visited {
    color: none;
}
a:hover {
    color: #eea764;
    text-decoration: none;
}
body {
    background-color: black;
    color: #8FE3CF;
    margin: 0;
}
h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 8rem;
    font-weight: 400;
}
h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    font-weight: 200; 
    margin: 2% 1% 5%;
}
h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    font-weight: 100;  
}
h4 {
    font-size: 1.5rem;
    line-height: 1.5;
}

/**********   CLASS STYLES  *****************/
.copywrite {
    margin: 20px 0 0 0;
}
.footer {
    background-color: #012146;
    height: 10vh;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
}
.link-bar {
    background: #012146;
    display: flex;
    flex-wrap: nowrap;
    height: 30px;
    margin: 0;
    padding: 10px 0 0 70%;
    position: fixed;
    top: 0;
    width: 100vw;

}
.navbar {
    font-size: 1.5rem;
}
.section {
    padding: 1% 0 10%;
}

/* Background tree-line */
.treeline-background {
    background-color: #2B4865;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    display: flex;
    align-items: flex-end;
}
.treeline-image {
    width: 100%;

}
 
/* Glamping Tiles */
.tile {
    height: 200px;
    margin: 5% auto;
    text-align: center;
    width: 300px;
}
.tile-box {
    border: 0px solid;
    width: 70%;
    margin: 5% auto;
    text-align: justify;
    text-justify: inter-word;
    padding: 0 5% 5%;
    box-shadow: 0px 0px 0px #8FE3CF;
}
.tile-box:hover {
    color: #FED2AA;
    box-shadow: 0px 0px 15px #FED2AA;
}
.tile-title {
    padding: 0 auto;
    text-align: center;
    font-size: 3rem;
} 
.tile-image {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    box-shadow: 3px 2px 6px #8FE3CF;
}
.tile-image:hover {
    box-shadow: 6px 4px 10px #FED2AA;
}

/* Outdoor activities */

.activity-slide {
    height: 500px;
    padding: 0 5%;
}


/**********   ID STYLES  *****************/
#title-section {
    text-align: center;
    padding: 35vh 0 0 0;
    height: 100vh;
}

 #about-section {
    background-color: #256D85;
}

#activities-section {
    background-color: #256D85;
    padding: 20% auto;
}
.activities-image {
    height: 100%;
}

#contact-section {
    text-align: center;
} 

.text-box {
    background-color: #4f8a9e; 
    margin: 0  auto; 
    border-radius: 20%;
    box-shadow: 2px 2px 3px;
    padding: 5%;
}

#contact-box {
    background-color: #408faa;
    padding: 4%;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

#about-box {
    width: 60%; 
    height: 100%;
    text-justify: inter-word; 
}

.social-link {
    color: #0c3769;
    padding: 10%;
    font-size: 1.5em;
}
